
.App {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  /* background-color: teal; */
}

.word {
  display: inline-block;
  padding: 30px;
}



header {
  /* background-color: turquoise; */
  margin-top: 60px;
}

.tmax {
  width: 40%;
  /* background-color: thistle; */
}

h1 {
  /* background-color: tomato; */
}

.btn-gradient {
  text-decoration: none;
  background-color: burlywood;
	color: black;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 2px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  margin: 50px;
}

h3 {
  width: 40%;
}
