/* .pendu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100px;  
    user-select: none;
  } */

.pendu {
  padding: 30px;
  text-align: center;
  background-color: cornsilk;
}

.word {
  display: inline-block;
  padding: 30px;
}

.alphabet {
  display: inline-block;
  padding: 50px;
}
