.game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.keyboard {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  /* background-color: rgb(240, 235, 214); */
  padding: 10px;
  /* outline: 2px solid black; */
  /* margin: 50px; */
}

.keyboardLine {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn-gradient {
  text-decoration: none;
  background-color: burlywood;
	color: black;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 2px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  margin: 50px;
}

button.btn-gradient {
  font-size: large;
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
}

  